.App {
  text-align: center;
}


/* viewer의 content container안의 img 태그 설정 */
#carousel-content img {
  margin: 5% auto;
  width: 85%;
}

/* App.css 또는 해당하는 스타일시트 파일 */
.continue-reading-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* 추가적인 스타일링 */
}

.carousel {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none; /* Firefox */
}

.carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}