<html lang="en" layout:decorate="~{/book/book_form_layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>책 작성</title>
</head>
<body>
<main layout:fragment="main">
    <h5 class="my-3 border-bottom pb-2">책등록</h5>
    <form  th:object="${bookForm}" method="post" enctype="multipart/form-data">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text"  id="title" th:field="*{title}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="file" class="form-label">이미지</label>
            <input type="file" id="file" th:field="*{file}" class="form-control">
        </div>
        <input type="submit" value="등록하기" class="btn btn-primary my-2">

        <!--         챕터 지정 폼 (chapter_form) 이동 버튼-->
        <!--        <h5 class="my-3 border-bottom pb-2">책 작성</h5>-->
        <!--        <span class="block mb-2">-->
        <!--            <a href="/chapter/create" class="btn btn-secondary my-2">챕터 등록</a>-->
        <!--        </span>-->

    </form>
</main>
</body>
</html>