<html lang="en" layout:decorate="~{/common/layout.html}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="">
<head>
    <title>Book</title>
</head>
<main layout:fragment="main">
    <p th:text="${book.id}"></p>
    <img th:src="@{${book.imgUrl}}" alt="Book Image">
    <h2 th:text="${book.title}"></h2>
    <p th:text="${book.author.profile.nickname}"></p>
    <p th:text="${#temporals.format(book.createDate, 'yyyy-MM-dd HH:mm')}"></p>
    <a href="javascript:void(0);" class="recommend "
       th:data-uri="@{|/book/vote/${book.id}|}">
        추천
        <span class="badge rounded-pill bg-success" th:text="${#lists.size(book.voter)}"></span>
    </a>
    <div>
        <a th:href="@{|/book/modify/${book.id}|}" th:text="수정"
           sec:authorize="isAuthenticated()"></a>
        <a href="javascript:void(0);" class="delete" th:data-uri="@{|/book/delete/${book.id}|}"   th:text="삭제"
           sec:authorize="isAuthenticated()"></a>
    </div>

    <h5 th:text="|${#lists.size(book.commentList)}개|"></h5>
    <div>
        <ul>
            <li th:each="comment : ${book.commentList}" th:text="${comment.content}"></li>
        </ul>
        <div >
            <a href="javascript:void(0);" class="recommend"
                th:data-uri="@{|/comment/vote/${comment.id}|}" th:text="추천">
                <span class="badge rounded-pill bg-success" th:text="${#lists.size(comment.voter)}"></span>
            </a>
            <a th:href="@{|/comment/modify/${comment.id}|}"
               sec:authorize="isAuthenticated()"
               th:text="수정"></a>
            <a href="javascript:void(0);" th:data-uri="@{|/comment/delete/${comment.id}|}"
               class="delete " sec:authorize="isAuthenticated()"
               th:text="삭제"></a>
        </div>
    </div>

    <form th:action="@{|/comment/create/${book.id}|}" method="post">
        <textarea name="content" id="content" rows="15"></textarea>
        <input type="submit" value="답변등록">
    </form>



    <!--  삭제 js  -->
    <script type='text/javascript'>
        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });

        const recommend_elements = document.getElementsByClassName("recommend");
Array.from(recommend_elements).forEach(function(element) {
    element.addEventListener('click', function() {
            location.href = this.dataset.uri;
    });
});
    </script>

</main>
</html>
