<html lang="en" layout:decorate="~{/common/layout.html}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="">
<head>
    <title>Book</title>
</head>
<main layout:fragment="main">

    <div th:text="${book.id}"></div>
    <h1 th:text="${book.title}"></h1>
    <p th:text="${book.author.profile.nickname}"></p>
    <p th:text="${#temporals.format(book.createDate, 'yyyy-MM-dd HH:mm')}"></p>
    <img th:src="@{${book.imgUrl}}" alt="Book Image">
    <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
       th:data-uri="@{|/book/vote/${book.id}|}" onclick="confirmRecommend(this)">
        추천
        <span class="badge rounded-pill bg-success" id="recommend-count" th:text="${#lists.size(book.voter)}"></span>
    </a>
<!-- 조건문 수정버튼   -->
<!--    <div>-->
<!--        <a th:href="@{|/book/modify/${book.id}|}"-->
<!--           sec:authorize="isAuthenticated()"-->
<!--               th:if="${book.author != null and #authentication.getPrincipal().getUsername() == book.author.username}"-->
<!--           th:text="수정"></a>-->
<!--    </div>-->
    <div>
        <a th:href="@{|/book/modify/${book.id}|}" th:text="수정"></a>
<!--        <a href="javascript:void(0);" th:data-uri="@{|/book/delete/${book.id}|}"-->
<!--           class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"-->
<!--           th:if="${book.author != null and #authentication.getPrincipal().getUsername() == book.author.username}"-->
<!--           th:text="삭제"></a>-->
        <a href="javascript:void(0);" th:data-uri="@{|/book/delete/${book.id}|}" class="delete btn btn-sm btn-outline-secondary"  th:text="삭제"></a>
    </div>


    <script type='text/javascript'>
        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });
    </script>

</main>
</html>
