<html lang="en" layout:decorate="~{/common/layout.html}">

<head>
    <title>비밀번호 찾기</title>
</head>

<main layout:fragment="main">
    <div class="flex justify-center items-center h-screen	">
        <div class="mx-auto px-4 relative max-w-2xl lg:w-7/12 w-10/12  ">
            <div class="relative flex flex-col min-w-0 break-words bg-white bg-opacity-90 w-full shadow-lg rounded-lg">
                <div class="px-5 py-3 flex-auto">
                    <div class="p-5 text-center font-bold text-4xl  ">
                            <span>
                           PAGE FLOW
                            </span>
                    </div>
                    <div class="p-5 text-center text-gray-500 font-bold text-md  ">
                            <span>
                            찾고자 하는 아이디와 이메일을 입력하세요
                            </span>
                    </div>
                    <form th:action method="POST" name="find_form"
                          onsubmit="submitFindForm(this); return false;"  class="my-0">
                        <div class="flex flex-wrap -mx-4">
                            <div class="px-4 relative w-full sm:w-8/12 pt-4">
                                <div class="relative flex w-full h-full flex-wrap items-stretch mb-3">
                                    <span class="z-10 h-full flex absolute text-center text-blueGray-300 text-sm items-center w-8 pl-3">
                                     <i class="fa-regular fa-user"></i>
                                    </span>
                                    <input type="text" id="id" name="id"autofocus maxlength="10"  placeholder="아이디를 입력하세요" class="border-blueGray-300 px-3 py-2 text-sm  w-full placeholder-blueGray-200 text-blueGray-700 relative bg-white rounded-md outline-none focus:ring focus:ring-lightBlue-500 focus:ring-1 focus:border-lightBlue-500 border border-solid transition duration-200 pl-10 ">
                                </div>
                            </div>
                            <div class="px-4 sm:pl-0 relative w-full sm:w-4/12 text-right pt-4">
                                <button class=" btn btn-outline text-sm  hover:shadow-lg rounded w-full text-center">
                                    아이디 확인
                                </button>
                                <!--   아이디 확인 버튼 형식적으로 만들었음  -->
                            </div>
                        </div>
                        <div class="flex flex-wrap -mx-4">
                            <div class="px-4 relative w-full sm:w-8/12 pt-4">
                                <div class="relative flex w-full h-full flex-wrap items-stretch mb-3">
                                    <span class="z-10 h-full flex absolute text-center text-blueGray-300 text-sm items-center w-8 pl-3">
                                       <i class="fa fa-envelope"></i>
                                    </span>
                                    <input type="email" id="email" name="email" placeholder="이메일를 입력하세요" class="border-blueGray-300 px-3 py-2 text-sm  w-full placeholder-blueGray-200 text-blueGray-700 relative bg-white rounded-md outline-none focus:ring focus:ring-lightBlue-500 focus:ring-1 focus:border-lightBlue-500 border border-solid transition duration-200 pl-10 ">
                                </div>
                            </div>
                            <div class="px-4 sm:pl-0 relative w-full sm:w-4/12 text-right pt-4">
                                <button class="submit btn btn-outline text-sm  hover:shadow-lg rounded w-full text-center">
                                    이메일 전송
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<!--  아이디, 이메일 입력 폼 메시지  -->
    <script>
        function submitFindForm(form){
            if(submitFindFormDone) return;

            form.id.value = form.id.value.trim();
            if(form.id.value.length == 0){
                form.id.focus();
                flowAlert("warning", '아이디을 입력해주세요');
                return;
            }

              if(form.id.value.length > 4){
                form.id.focus();
                flowAlert("warning", '아이디을 4자 이상 입력해주세요');
                return;
            }

                form.email.value = form.email.value.trim();
            if(form.email.value.length == 0){
                form.email.focus();
                flowAlert("warning", '이메일를 입력해주세요');
                return;
            }

              if(form.email.value.length > 4){
                form.email.focus();
                flowAlert("warning", '이메일를 4자 이상 입력해주세요');
                return;
            }
            form.submit();
            submitFindFormDone = true;
        }
    </script>

</main>
</html>
