<html lang="en" layout:decorate="~{/common/layout.html}">

<head>
    <title>비밀번호 재설정</title>

</head>

<!-- 비밀번호 재설정 페이지 -->
<main layout:fragment="main">
    <div class="flex justify-center items-center h-screen	">
        <div class="mx-auto px-4 relative max-w-xl lg:w-7/12 w-10/12  ">
            <div class="relative flex flex-col min-w-0 break-words bg-white bg-opacity-90 w-full shadow-lg rounded-lg">
                <div class="px-5 py-3 flex-auto">
                    <div class="p-5 text-center font-bold text-4xl  ">
                            <span>
                           PAGE FLOW
                            </span>
                    </div>
                    <div class="p-5 text-center text-gray-500 font-bold text-md  ">
                            <span>
                            사용하실 비밀번호를 입력해주세요
                            </span>
                    </div>
                    <form th:action method="POST" name="reset_form"
                          onsubmit="submitResetForm(this); return false;" class="flex flex-col w-full">
                        <div class="flex w-full p-3">
                            <div class=" relative w-full">
                                <div class="relative flex w-full h-full flex-wrap items-stretch mb-3">
                                    <span class="z-10 h-full flex absolute text-center text-blueGray-300 text-sm items-center w-8 pl-3">
                                     <i class="fa-solid fa-key"></i>
                                    </span>
                                    <input id="password" name="password"
                                           maxlength="20" type="password" placeholder="새 비밀번호"
                                           class="border-blueGray-300 px-3 py-2 text-sm  w-full placeholder-blueGray-200 text-blueGray-700 relative bg-white rounded-md outline-none focus:ring focus:ring-lightBlue-500 focus:ring-1 focus:border-lightBlue-500 border border-solid transition duration-200 pl-10 ">
                                </div>
                            </div>
                        </div>
                        <div class="flex w-full p-3">
                            <div class=" relative w-full">
                                <div class="relative flex w-full h-full flex-wrap items-stretch mb-3">
                                    <span class="z-10 h-full flex absolute text-center text-blueGray-300 text-sm items-center w-8 pl-3">
                                     <i class="fa-solid fa-key"></i>
                                    </span>
                                    <input id="passwordConfirm" name="passwordConfirm"
                                           autofocus maxlength="20" type="password" placeholder="새 비밀번호"
                                           class="border-blueGray-300 px-3 py-2 text-sm  w-full placeholder-blueGray-200 text-blueGray-700 relative bg-white rounded-md outline-none focus:ring focus:ring-lightBlue-500 focus:ring-1 focus:border-lightBlue-500 border border-solid transition duration-200 pl-10 ">
                                </div>
                            </div>
                        </div>
                        <div class=" relative w-full text-right p-3">
                            <button class="submit btn btn-outline text-sm  hover:shadow-lg rounded w-full text-center">
                                비밀번호 바꾸기
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


<!-- 비밀번호 재설정 폼 메시지 -->
    <script>
        function submitResetForm(form){
            if(submitResetFormDone) return;

            form.password.value = form.password.value.trim();
            if(form.password.value.length == 0){
                form.password.focus();
                flowAlert("warning", '비밀번호를 입력해주세요');
                return;
            }

              if(form.password.value.length > 4){
                form.password.focus();
                flowAlert("warning", '비밀번호를 4자 이상 입력해주세요');
                return;
            }

                form.passwordConfirm.value = form.passwordConfirm.value.trim();
            if(form.passwordConfirm.value.length == 0){
                form.passwordConfirm.focus();
                flowAlert("warning", '비밀번호를 입력해주세요');
                return;
            }

              if(form.passwordConfirm.value.length > 4){
                form.passwordConfirm.focus();
                flowAlert("warning", '비밀번호를 4자 이상 입력해주세요');
                return;
            }
            form.submit();
            submitResetFormDone = true;
        }
    </script>


</main>
</html>
