<html lang="en" layout:decorate="~{/common/layout.html}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="">
<head>
    <title>Book</title>
</head>
<body>
<main layout:fragment="main">
    <section class="w-1920  h-full text-gray-600 border">
        <div class="w-full py-1 flex flex-col border border-red-500">
            <div class=" mx-auto">
                <div class="flex flex-col sm:flex-row mt-10">
                    <!-- 좌측 레이아웃 시작 -->
                    <div class="sm:w-1/3 w-1/3 text-center sm:pr-8 sm:py-8 flex flex-col">
                        <div class="w-full h-64 bg-gray-500 text-gray-400 ml-4">
                            <img th:src="@{${book.coverImgUrl}}" alt="Book Image">
                        </div>
                        <div class="ml-4 flex flex-col items-center text-center justify-center w-full border">
                            <h2 class="font-black title-font mt-4 text-gray-900 text-lg  w-full h-16"  th:text="${book.title}"></h2>
                            <div class=" w-full">
                                <span class="text-base mt-4 mr-4 border"th:text="${book.author.profile.nickname}"></span>
                                <i class="fa-solid fa-heart" style="color: #ff0000;"></i>
                                <a href="javascript:void(0);" class="recommend ">
                                    추천
                                </a>
                            </div>
                            <div>
                                <a th:href="@{|/book/modify/${book.id}|}" th:text="수정"
                                   sec:authorize="isAuthenticated()"></a>
                                <a href="javascript:void(0);" class="delete" th:data-uri="@{|/book/delete/${book.id}|}"   th:text="삭제"
                                   sec:authorize="isAuthenticated()"></a>
                            </div>
                            <button class="btn btn-success w-52 mt-10">뷰어</button>
                        </div>
                    </div>
                    <!-- 좌측 레이아웃 끝 -->
                    <!-- 우측 레이아웃 시작 -->
                    <div class="sm:w-2/3  sm:mt-0 text-center sm:text-left flex flex-col">
                        <!--      책 챕터 표기    -->
                        <!--        상세보기 메뉴    -->
                        <ul class="menu menu-horizontal rounded-box justify-center ">
                            <li>
                                <a class="tooltip" data-tip="Home">
                                    <p>홈</p>
                                </a>
                            </li>
                            <li>
                                <a class="tooltip" data-tip="Details">
                                    <p>정보</p>
                                </a>
                            </li>
                        </ul>
                        <!--          상세보기 메뉴 끝  -->
                        <div class=" h-2/3">
                            <!--         책 챕터     -->
                            <div class="flex flex-wrap -m-2 ">
                                <div class="p-2 w-full">
                                    <div class="h-full flex items-center  p-4 rounded-lg">
                                        <img th:src="@{${book.coverImgUrl}}" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 mr-4" alt="Book Image">
                                        <div class="flex-grow">
                                            <h2 class="text-gray-900 title-font font-medium" th:text="${book.title}"></h2>
                                            <p class="text-gray-500" th:text="${#temporals.format(book.createDate, 'yyyy-MM-dd')}" >책 올린날짜</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--          책 챕터 끝    -->
                        </div>
                        <!--      책 챕터 표기 레이아웃    끝 -->
                        <!--  댓글 레이아웃 -->
                        <div class="relative h-3/5">
                            <div>
                                <div th:each="comment : ${book.commentList}">
                                    <div th:text="${comment.content}"></div>
                                    <div>
                                        <a href="javascript:void(0);" class="recommend" th:text="추천"></a>
                                        <a th:href="@{|/comment/modify/${comment.id}|}" class="edit" sec:authorize="isAuthenticated()" th:text="수정"></a>
                                        <a href="javascript:void(0);" th:data-uri="@{|/comment/delete/${book.id}|}" class="delete" sec:authorize="isAuthenticated()" th:text="삭제"></a>
                                    </div>
                                </div>
                            </div>

                            <div th:object="${commentForm}" class="form-control w-full h-2/5 relative">
                                <form method="post" class="absolute bottom-0 top-0 left-0 right-0">
                                    <textarea name="content" id="content" type="text" placeholder="소중한 의견을 남겨주세요" class="input input-bordered w-full h-full" ></textarea>
                                    <input class="input input-bordered" type="submit" value="댓글등록" />
                                </form>
                            </div>
                        </div>
<!--                        th:action="@{|/comment/create/${book.id}|}"-->
                        <!-- 댓글 레이아웃 끝 -->
                    </div>
                    <!-- 우측 레이아웃 끝 -->
                </div>
            </div>
        </div>
    </section>


    <!--  삭제 js  -->
    <script type='text/javascript'>
        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });

        const recommend_elements = document.getElementsByClassName("recommend");
Array.from(recommend_elements).forEach(function(element) {
    element.addEventListener('click', function() {
            location.href = this.dataset.uri;
    });
});
    </script>

</main>
</body>
</html>
