<html lang="en" layout:decorate="~{/common/layout.html}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Book</title>
</head>

<body>
<main layout:fragment="main">
    <section class="text-gray-600 h-full">
        <div class=" py-1 w-9/12 m-auto">
            <div class="h-5/6 mt-10 flex flex-col">
                <div class="flex flex-col sm:flex-row  h-full  justify-center">
                    <!-- 좌측 레이아웃 시작 -->
                    <div class="text-center  px-1 w-72 flex flex-col">
                        <div class="h-3/6 w-full relative">
                            <div class="w-42 absolute" style="z-index : -1 ; filter: blur(5px) ;">
                                <img src="https://image.utoimage.com/preview/cp872722/2022/12/202212008462_500.jpg"
                                     alt="배경이미지">
                            </div>
                            <div class="w-11/12 h-64 bg-gray-500 text-gray-400 px-1 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                                <img th:src="@{${outline.coverImgUrl}}" alt="Book Image">
                            </div>
                        </div>
                        <div class="ml-4 flex flex-col items-center text-center justify-center w-full">
                            <h2 class="font-black title-font mt-4 text-gray-900 text-lg  w-full h-16"
                                th:text="${book.title}"></h2>
                            <div class=" w-full">
                                <span class="text-base mt-4 mr-4 border" th:text="${outline.author.nickname}"></span>
                                <i class="fa-solid fa-heart" style="color: #ff0000;"></i>
                                <a href="javascript:void(0);" class="recommend ">
                                    추천
                                </a>
                            </div>
                            <div>
                                <a th:href="@{|/book/modify/${outline.id}|}" th:text="수정"
                                   sec:authorize="isAuthenticated()"></a>
                                <a href="javascript:void(0);" class="delete"
                                   th:data-uri="@{|/outline/delete/${outline.id}|}" th:text="삭제"
                                   sec:authorize="isAuthenticated()"></a>
                            </div>
                            <button class="btn btn-success w-52 mt-10">뷰어</button>
                        </div>
                    </div>
                    <!-- 좌측 레이아웃 끝 -->
                    <!-- 우측 레이아웃 시작 -->
                    <div class="sm:w-2/3 sm:mt-0 sm:ml-2 text-center sm:text-left flex flex-col h-full ">
                        <!--      책 챕터 표기    -->

                        <div class=" h-96 rounded-2xl  " style="background-color : #e5e7eb;">

                            <div>
                                <ul class="menu menu-horizontal rounded-box justify-center ">
                                    <li>
                                        <a class="tooltip" data-tip="Home">
                                            <p>홈</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="tooltip" data-tip="Details">
                                            <p>정보</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!--         책 챕터     -->
                            <div class="flex flex-wrap -m-2">
                                <div class="p-2 w-full">
                                    <div class="h-full flex items-center  p-4 rounded-lg">
                                        <img th:src="@{${book.coverImgUrl}}"
                                             class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 mr-4"
                                             alt="Book Image">
                                        <div class="flex-grow">
                                            <h2 class="text-gray-900 title-font font-medium"
                                                th:text="${book.title}"></h2>
                                            <p class="text-gray-500"
                                               th:text="${#temporals.format(book.createDate, 'yyyy-MM-dd')}">책 올린날짜</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--          책 챕터 끝    -->
                        <!--  댓글 레이아웃 -->
                        <div class="h-96 flex flex-col relative rounded-2xl mt-10 overflow-hidden"
                             style="background-color : #e5e7eb;">
                            <div id="comment_list" class="overfloew-auto h-5/6 border"></div>
                            <div class="w-full absolute bottom-0 border">
                                <div class="form-control flex">
                                    <form class="flex " onsubmit="commentWrite_submitForm(this); return false;">
                                        <div class="flex-1 px-2 py-1">
                                            <label for="content"></label>
                                            <input name="content" id="content" type="text" placeholder="소중한 의견을 남겨주세요"
                                                   class="input input-bordered px-6 w-full"/>
                                        </div>
                                        <div class="w-1/5 px-2 py-1">
                                            <input type="submit" class="input input-bordered w-full" value="등록"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- 댓글 레이아웃 끝 -->
                        </div>
                    </div>
                    <!-- 우측 레이아웃 끝 -->
                </div>
            </div>
        </div>
    </section>

    <!-- 댓글 작성 ajax-->
    <script>
        let commentWrite_submitFormDone = false;

        function commentWrite_submitForm(form) {
            form.content.value = form.content.value.trim();

            if (form.content.value.length === 0) {
                alert("댓글을 입력해주세요");
                form.content.focus();
                return;
            }

            var bookId = [[${book.id}]];

            $.ajax({
                type: 'POST',
                url: `/comment/create/${bookId}`,
                data: { content: form.content.value },
                success: function(comment) {
                    console.log("확인");
                    commentList(comment);
                    form.content.value = '';
                },
                error: function(xhr, status, error) {
                    console.error("error");
                }
            });
        }

        $(document).ready(function() {
            var bookId = [[${book.id}]];

            $.ajax({
                type: 'GET',
                url: `/comment/list/${bookId}`,
                success: function(comment) {
                    commentList(comment);
                },
                error: function(xhr, status, error) {
                    console.error("error");
                }
            });
        });

    <!--댓글 목록 ajax-->
        function commentList(comment) {
            var output = "";

            for (var i in comment) {
                output += "<div class='comment-item'>";
                output += "<p id='comment-" + comment[i].id + "'>" + comment[i].content + "</p>"; // 댓글을 텍스트로 표시
                output += "<a href='javascript:void(0);' class='recommend' onclick='recommendComment(" + comment[i].id + ")'>추천</a>";
                output += "<a href='javascript:void(0);' class='edit' onclick='editComment(" + comment[i].id + ")'>수정</a>";
                output += "<a href='javascript:void(0);' class='delete' onclick='deleteComment(" + comment[i].id + ")'>삭제</a>";
                output += "</div>";
            }

            $("#comment_list").html(output);
        }

<!--댓글 삭제 ajax-->
        const deleteComment = (commentId) => {
             if (confirm("정말로 삭제하시겠습니까?")) {
                 $.ajax({
                     type: 'GET',
                     url: `/comment/delete/${commentId}`,
                     success: function (comment) {
                         console.log('삭제 완료');
                         commentList(comment); // 댓글 목록 업데이트
                     },
                     error: function (xhr, status, error) {
                         console.error("error");
                     }
                 });
             }
         };


<!--     댓글 수정  ajax    -->
        function editComment(commentId) {
        var commentContent = $("#comment-" + commentId).text(); // 기존 댓글 내용 가져오기
        var newContent = "<textarea> " + commentContent + "</textarea>"; // 수정할 내용을 입력받음

        if (newContent !== null) { // 사용자가 취소하지 않은 경우
            $("#comment-" + commentId).siblings().find("a").hide();
            $("#comment-" + commentId).replaceWith("<textarea id='comment-" + commentId + "' style='width: 100%; resize: none;'>" + commentContent + "</textarea>");
            $("#comment-" + commentId).siblings("button").hide();
            $("#comment-" + commentId).after(`<button onclick="saveEdit(${commentId})">저장</button>`);
            $("#comment-" + commentId).after(`<button onclick="cancelEdit(${commentId})">취소</button>`);
        }
    }

    function saveEdit(commentId) {
        var editedContent = $("#comment-" + commentId).val(); // 수정된 댓글 내용 가져오기
        $.ajax({
            type: 'POST',
            url: `/comment/modify/${commentId}`,
            data: { content: editedContent },
            success: function (comment) {
                console.log('수정 완료');
                commentList(comment); // 댓글 목록 업데이트
            },
            error: function (xhr, status, error) {
                console.error("error");
            }
        });
    }

    function cancelEdit(commentId) {
        var commentContent = $("#comment-" + commentId).text(); // 기존 댓글 내용 가져오기
        $("#comment-" + commentId).replaceWith("<p id='comment-" + commentId + "'>" + commentContent + "</p>");
    }
    </script>
</main>
</body>
</html>
