<html lang="en" layout:decorate="~{/common/layout.html}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="">

<head>
    <title>Book</title>

<!--  select 정렬순 스타일  -->
    <style>
       .btn-select.on+.list-member {
                  display: block;
                }

                // block 성질 중요
                .list-member li {
                  width: 100%;
                  height: 40px;
                  box-sizing: border-box;
                }

                .list-member li button {
                  width: 100%;
                  padding: 7px 10px;
                  background-color: #fff;
                  cursor: pointer;
                  text-align: left;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  overflow: hidden;
                }

                .list-member li button:hover,
                .list-member li button:focus {
                  background-color: #FFBB5C;
                }
    </style>
</head>

<main layout:fragment="main">

    <div class="mx-auto max-w-2xl px-2 py-12 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
        <div class="flex justify-between mb-16 w-full ">
            <div class="flex grow">
                <!--  책 등록  -->
                <div class="max-w-md mr-4  border-0 p-3 font-semibold text-sm leading-6 bg-[#FFBB5C] relative inline-block text-center text-white active:top-[4px] shadow-[0px_4px_#FF9B50] active:shadow-[0px_0px_#FFBB5C] active:bg-[#FF9B50]">
                    <div class="w-full h-full">
                        <a th:href="@{/book/write}">
                            책 등록
                        </a>
                    </div>
                </div>
                <!--  정렬순  -->
                <div class="max-w-md  relative w-2/12 z-50  max-w-md mr-4 font-semibold	  border-0 p-3 bg-[#FFBB5C] relative inline-block text-center text-sm leading-6 text-white active:top-[4px] shadow-[0px_4px_#FF9B50] active:shadow-[0px_0px_#FFBB5C] active:bg-[#FF9B50]">
                    <button id="sortOption" class="btn-select w-full cursor-pointer  overflow-hidden">
                        정렬순
                    </button>
                    <ul class="list-member list-none hidden absolute w-full rounded  text-black text-sm	 top-16 left-0">
                        <li>
                            <button th:value="${createDate}" type="button">작성 날짜</button>
                        </li>
                        <li>
                            <button type="button">추천수</button>
                        </li>
                        <li>
                            <button type="button">조회수</button>
                        </li>
                        <!--        <option value="view">조회순</option>-->
                        <!--        <option value="voters">추천순</option> &lt;!&ndash; JPA에서 지원하는 함수나 필드를 이용 &ndash;&gt;-->
                    </ul>
                </div>
            </div>
            <!--  검색 시작  -->
            <div class="w-full flex max-w-md gap-x-4 ">
                <input id="search_kw" th:value="${kw}" name="search_kw" type="text" autocomplete="search_kw"  placeholder="검색어를 입력해주세요" required  class="input input-bordered w-full  shadow-inner rounded max-w-xs flex-auto text-black border-[#FF9B50] sm:text-sm sm:leading-6 ">
                <button id="btn_search" type="button" class="flex-none  font-semibold	 border-0 p-3 text-sm leading-6 bg-[#FFBB5C] relative inline-block text-center text-white active:top-[4px] shadow-[0px_4px_#FF9B50] active:shadow-[0px_0px_#FFBB5C] active:bg-[#FF9B50]">
                    검색
                </button>
            </div>
            <!--  검색 끝  -->
        </div>
        <div style="min-height: 101vh;">
            <div class="grid grid-cols-1 gap-x-8 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
                <div th:each="book : ${paging}">
                    <div class="aspect-h-2 aspect-w-1 w-full overflow-hidden rounded xl:aspect-h-8 xl:aspect-w-7 relative">
                        <div>
                            <a href="@|/book/detail/${book.id}|">
                                <div class="relative">
                                    <img th:src="@{${book.coverImgUrl}}" alt="Book Image" class="h-full w-full object-cover object-center group-hover:opacity-75">
                                    <div class="whitespace-normal leading-snug	absolute font-black text-xl inset-0 text-center top-60 italic ">
                                        <h2 th:text="${book.title}" class="text-white"></h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--                    <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"-->
                        <!--                       th:data-uri="@{|/book/vote/${book.id}|}">-->
                        <!--                        추천-->
                        <!--                        <span class="badge rounded-pill bg-success" th:text="${#lists.size(book.voters)}"></span>-->
                        <!--                    </a>-->
                    </div>
                </div>
            </div>
        </div>
        <form th:action="@{/book}" method="get" id="searchForm">
            <input type="hidden" id="kw" name="kw" th:value="${kw}">
            <input type="hidden" id="page" name="page" th:value="${paging.number}">
            <input type="hidden" id="sort" name="sort" th:value="${sort}">
        </form>

    </div>
    <script type='text/javascript'>
        const btn = document.querySelector(".btn-select");
const list = document.querySelector(".list-member");
btn.addEventListener("click", () => {
btn.classList.toggle("on");
});
list.addEventListener("click", (event) => {
if (event.target.nodeName === "BUTTON") {
btn.innerText = event.target.innerText;
btn.classList.remove("on");
}
});

    </script>
    <script type='text/javascript'>
        let currentPage = 0;
          let isLoading = false;
          let reachedEnd = false;

  window.addEventListener('scroll', function() {
    console.log('Scroll event triggered');
      if (isLoading || reachedEnd) return;

      if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
        console.log('Reached bottom');  // 이 로그를 통해 페이지 하단 도달 확인
          isLoading = true;
          currentPage++;
          fetchMoreBooks(currentPage);
      }
  });

  function fetchMoreBooks(page) {
       fetch(`/api/book/list?page=${page}&kw=${document.getElementById('search_kw').value}&sort=${document.getElementById('sortOption').value}`)
          .then(response => {
              console.log('Server Response:', response); // 서버 응답 로깅

              return response.json();
          })
          .then(data => {
              console.log('Data:', data); // 데이터 형식 로깅
              isLoading = false;
              if (Array.isArray(data)) {
                  if (data.length === 0) {
                      reachedEnd = true;
                      return;
                  }
                  appendBooksToDOM(data);
              } else {
                  console.error('Received data is not an array.');
              }
          })
          .catch(error => {
              console.error('Fetch Error:', error); // 에러 로깅
          });
  }

  function appendBooksToDOM(data) {
      const bookContainer = document.querySelector('.grid.grid-cols-4.gap-4');
      data.forEach(book => {
          const bookElement = `
                    <div class="card border rounded p-4">
                <a href="/book/detail/${book.id}">
                    <img src="${book.coverImgUrl}" alt="Book Image">
                    <h2>${book.title}</h2>
                </a>
<!--                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary">-->
<!--                    추천-->
<!--                    <span class="badge rounded-pill bg-success">${book.voters.length}</span>-->
<!--                </a>-->
                <p>${book.author.nickname}</p>
                <p>${book.createDate}</p>
            </div>
          `;
          bookContainer.innerHTML += bookElement;
      });
  }

  const btn_search = document.getElementById("btn_search");
  btn_search.addEventListener('click', function() {
      document.getElementById('kw').value = document.getElementById('search_kw').value;
      document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
      document.getElementById('searchForm').submit();
  });

          const recommend_elements = document.getElementsByClassName("recommend");
           Array.from(recommend_elements).forEach(function(element) {
               element.addEventListener('click', function() {
                   if(confirm("정말로 추천하시겠습니까?")) {
                       location.href = this.dataset.uri;
                   };
               });
           });

           const sortOption = document.getElementById("sortOption");
sortOption.addEventListener('change', function() {
    const selectedOption = this.value;
    document.getElementById('sort').value = selectedOption; // Hidden input에 sort 값 설정
    console.log('작동중?');
    document.getElementById('searchForm').submit();  // 폼 제출
    console.error('dd');
});
    </script>


</main>
</html>