<html lang="en" layout:decorate="~{/common/layout.html}" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>[[${outline.title}]]</title>

    <!-- 댓글 스크롤바 스타일 -->
    <style>
        .scroll::-webkit-scrollbar {
          width: 5px;
        }

        .scroll::-webkit-scrollbar-thumb {
          background: #c8c8c8;
          border-radius: 10px;
        }

    </style>


</head>

<body>

<main layout:fragment="main">


    <section class="container max-w-[70%] m-auto">
        <div class="mt-10 mb-10 flex flex-col">
            <div class="flex flex-col md:flex-row justify-center sm:h-full">
                <!-- 좌측 레이아웃 시작 -->
                <div class="sm:max-w-[250px] h-[1100px]  mr-6 container">
                    <div class="md:w-full h-full rounded-lg bg-[#f6f6f6] shadow-md bg-blur">
                        <div class="flex flex-col">
                            <div class="h-full w-full relative">
                                <div class="w-full h-96" style="filter: blur(1.5px);">
                                    <img th:src="@{${outline.coverImgUrl}}" alt="Book Image" class="object-cover w-full h-full">
                                </div>
                                <div class="w-9/12 h-4/6 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
                                     style="z-index : 1;">
                                    <img th:src="@{${outline.coverImgUrl}}" alt="Book Image" class="object-cover w-full h-full">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="flex flex-col items-center text-center justify-center w-full">
                                <h2 class="mt-8 mb-8 font-black text-2xl w-full" th:text="${outline.title}"></h2>
                                <div>
                                    <span class="font-semibold mt-8 mr-3" th:text="|${outline.author.nickname} 작가|"></span>
                                    <a href="#" id="heart" data-filled="false" onclick="togglePreference()">
                                        <i id="heartIcon" class="far fa-heart" style="color: #000000;"></i>
                                    </a>
                                    <span id="bookLikesCount"></span>
                                </div>
<!--                                [[${outline.preferenceStatistics.likes}]]-->
                                <a th:href="@{|/viewer/${outline.id}|}"
                                   class="custom-btn read-btn w-52 mt-20 relative rounded-sm font-semibold	leading-10 bg-black	text-white p-1">읽기</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 좌측 레이아웃 끝 -->
                <!-- 우측 레이아웃 시작 -->
                <div class="w-full mt-0 ml-0 text-center sm:text-left flex flex-col container">
                    <!-- 책 챕터 표기 -->
                    <div class="h-[475px] rounded-lg bg-[#f6f6f6] shadow-md bg-blur container">
                        <div>
                            <!-- 홈/정보 메뉴 -->
                            <ul class="flex justify-center text-xl font-bold mt-1 menu menu-horizontal rounded border-b border-slate-400">
                                <li class="mr-14 p-1 rounded-lg ">
                                    <a href="#" data-tip="Hom">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                                             viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"/>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- 책 챕터 (홈) -->
                        <div class="flex flex-wrap -m-2 tab-content" id="tab1">
                            <div class="p-2 w-full">
                                <div class="h-full flex items-center p-3 rounded-lg ">
                                    <div class="flex-grow">
                                        <ul class="overflow-auto max-h-96">
                                            <li th:each="chapters : ${outline.chapters}" class="flex mb-2 ">
                                                <img th:src="@{${outline.coverImgUrl}}"
                                                     class="w-14 h-16 object-cover object-center flex-shrink-0 mr-4 rounded-lg"
                                                     alt="Book Image">
                                                <div class="w-full py-3">
                                                    <div><a href="#" class="font-semibold"
                                                            th:text="${chapters.title}"></a></div>
                                                    <span class="font-normal"
                                                          th:text="${#temporals.format(outline.author.createdDate, 'yyyy-MM-dd')}"></span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 책 챕터 끝 -->
                    <!-- 댓글 레이아웃 -->
                    <div class="h-[610px] flex flex-col rounded mt-5 overflow-hidden bg-[#f6f6f6] shadow bg-blur">
                        <div class="py-2 px-5 w-full h-10  rounded border-b border-slate-400 ">
                            <i class="fa-regular fa-comment" style="color: #000000; font-size: 1.2em;"></i>
                            <span id="getCommentCount"></span>
                        </div>
                        <div class="overflow-auto flex-1">
                            <div id="comment_list" class="h-full"></div>
                        </div>
                        <div class="w-full border">
                            <div class="form-control flex">
                                <form class="flex" onsubmit="commentWrite_submitForm(this); return false;">
                                    <div class="flex-1 px-2 py-1">
                                        <label for="content"></label>
                                        <input name="content" id="content" type="text" placeholder="소중한 의견을 남겨주세요"
                                               class="input input-bordered px-6 w-full rounded-lg"/>
                                    </div>
                                    <div class="w-1/5 px-2 py-1">
                                        <input type="submit" class="btn btn-outline w-full" value="등록"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- 댓글 레이아웃 끝 -->
                </div>
                <!-- 우측 레이아웃 끝 -->
            </div>
        </div>

    </section>

<!--  책 좋아요 싫어요  -->
    <script>
        // 로드시 실행
        $(document).ready(function () {
            var bookId = [[${outline.id}]];
            var isLiked = localStorage.getItem('likedBook_' + bookId);

            getLikesCountFromServer(bookId);

            if (isLiked) {
                $('#heartIcon').removeClass('far').addClass('fas').css('color', 'red');
                $('#heart').data('filled', true);
            } else {
                $('#heartIcon').removeClass('fas').addClass('far').css('color', '#000000');
                $('#heart').data('filled', false);
            }

            // 좋아요 버튼 클릭 이벤트 핸들러 추가
            $('.likeButton').click(function () {
                togglePreference();
            });
        });

        // 좋아요 숫자를 서버에서 가져오는 함수
            function getLikesCountFromServer(bookId) {
            $.ajax({
                type: 'GET',
                url: '/api/books/' + bookId + '/interactions',
                success: function (data) {
                    console.log(data);
                    var likesCount  = data.preferenceStatistics.likes || 0
                   $('#bookLikesCount').text(likesCount);
                },
                error: function (xhr, status, error) {
                    console.error('좋아요 숫자 가져오기 실패');
                }
            });
        }


        // 좋아요 클릭 시 호출 함수
        function togglePreference() {
            var bookId = [[${outline.id}]];
            var isLiked = $('#heart').data('filled');
            var isLoggedIn = /*[[${user.login}]]*/ false;

            if (isLoggedIn) {
                flowAlert("warning", "로그인 후 이용해주세요.");
                window.location.href = "/login";
            } else {
                $.ajax({
                    type: isLiked ? 'DELETE' : 'POST',
                    url: '/api/books/' + bookId + '/preferences',
                    data: { isLiked: !isLiked },
                    success: function (data) {
                        if (!isLiked) {
                            $('#heartIcon').removeClass('far').addClass('fas').css('color', 'red');
                            $('#heart').data('filled', true);
                            localStorage.setItem('likedBook_' + bookId, 'true');
                            console.log('좋아요를 눌렀습니다.');
                        } else {
                            $('#heartIcon').removeClass('fas').addClass('far').css('color', '#000000');
                            $('#heart').data('filled', false);
                            localStorage.removeItem('likedBook_' + bookId);
                            console.log('좋아요를 취소했습니다.');
                        }
                        getLikesCountFromServer(bookId);
                    },
                    error: function (xhr, status, error) {
                        console.error('처리 중 에러가 발생');
                    }
                });
            }
        }

    </script>

    <!--  댓글 관련 기능  -->
    <script th:inline="javascript">
        $(document).ready(function () {
            var bookId = [[${outline.id}]];
            refreshCommentList(bookId);

            // 페이지 로드 시 댓글 개수 가져오기
            updateCommentCount();

            // 댓글 작성 폼 제출 이벤트
            $('#commentForm').submit(function (e) {
                e.preventDefault();
                commentWrite_submitForm(this);
            });
        });

        // 댓글 목록 갱신
        function refreshCommentList(bookId) {
            updateCommentList(bookId);
        }

        // 댓글 목록을 가져오고 업데이트하는 함수
        function updateCommentList(bookId) {
            $.ajax({
                type: 'GET',
                url: '/api/books/' + bookId + '/interactions',
                success: function (interactions) {
                    console.log("서버에서 가져온 상호작용:", interactions);

                    // 댓글 목록 추출
                    const commentList = interactions.comments;

                    displayCommentList(commentList);
                },
                error: function (xhr, status, error) {
                    console.error("댓글 목록 업데이트 실패");
                }
            });
        }

            // 댓글 목록을 화면에 표시
            function displayCommentList(commentList) {
                var output = "";

                if (commentList && commentList.length > 0) {
                    commentList.sort(function (a, b) {
                        return new Date(b.createdData) - new Date(a.createdData);
                    });

                    for (var i in commentList) {
                        const comment = commentList[i];
                        const profileImgUrl = comment.interactor.profileImgUrl;

                        output += "<div class='flex text-xs p-2 mt-3 border-b-2'>";
                        output += "<div class='w-10 mr-2 ml-2 flex '>";
                        output += "<div class='w-7 h-7 m-auto justify-items-center'>";
                        output += "<img src='" + profileImgUrl + "' alt='프로필이미지' class='rounded-full object-cover w-full h-full'>";
                        output += "</div>";
                        output += "</div>";
                        output += "<div class='flex flex-col w-full p-1'>";
                        output += "<div class='flex flex-col mb-1'>";
                        output += "<span class='font-bold mb-2 text-base'>" + comment.interactor.nickname + "</span>";
                        output += "<p class='w-full mb-2'>" + comment.content + "</p>";
                        output += "</div>";
                        output += "<div class='flex justify-between'>";
                        var formattedDate = new Date(comment.createdDate).toISOString().split('T')[0];
                        output += "<span class='text-gray-500'>" + formattedDate + "</span>";
                        output += "<div class='flex justify-evenly text-center'>";

                        // Like button
                        output += "<div class='mr-2 py-1 px-2 rounded-lg shadow-inner btn btn-ghos'>";
                        output += "<a id='likeButton_" + comment.id + "' href='javascript:void(0);' onclick='toggleLikeComment(" + comment.id + ")'><i class='fas fa-thumbs-up text-xl text-blueGray-500'></i></a>";
                        output += "<span id='likesCount_" + comment.id + "' class='mr-1 ml-2 text-lg font-medium'>" + comment.preferenceStatistics.likes+ "</span>";
                        output += "</div>";

                        var userName = [[${user.nickname}]];

                        if(userName == comment.interactor.nickname){

                        // Edit button
                        output += "<div class='mr-2 py-1 px-2 rounded-lg shadow-inner font-bold text-md btn btn-ghos'>";
                        output += "<a id='editButton_" + comment.id + "' href='javascript:void(0);' onclick='editComment(" + comment.id + ")' >수정</a>";
                        output += "</div>";

                        // Delete button
                        output += "<div class=' py-1 px-2 rounded-lg shadow-inner font-bold text-md btn btn-ghos'>";
                        output += "<a id='deleteButton_" + comment.id + "' href='javascript:void(0);' onclick='deleteComment(" + comment.id + ")'>삭제</a>";

                        }

                        output += "</div>";

                        output += "</div>";
                        output += "</div>";
                        output += "</div>";
                        output += "</div>";
                    }
                }
                $("#comment_list").html(output);
            }

            // 댓글 작성 함수
            function commentWrite_submitForm(form) {
                var bookId = [[${outline.id}]];
                var isLoggedIn = /*[[${user.login}]]*/ false;
                form.content.value = form.content.value.trim();

                if (!isLoggedIn) {
                    flowAlert("warning", "로그인 후 이용해주세요.");
                    window.location.href = "/login";
                    return false; // 폼 제출 취소
                }

                if (form.content.value.length == 0) {
                    flowAlert("warning", "댓글을 입력해주세요");
                    form.content.focus();
                    return;
                }
                if (form.content.value.length > 30) {
                    flowAlert("warning", "댓글은 30자를 초과할 수 없습니다");
                    form.content.focus();
                    return;
                }

                $.ajax({
                    type: 'POST',
                    url: '/api/books/' + bookId + '/comments',
                    data: { content: form.content.value },
                    success: function (comment) {
                        console.log("댓글 생성 완료");
                        // 댓글 목록 업데이트
                        updateCommentList(bookId);
                        // 댓글 개수 업데이트
                        updateCommentCount();
                        form.content.value = '';
                    },
                    error: function (xhr, status, error) {
                        flowAlert("error", "댓글 작성 도중 오류가 발생하였습니다.");
                    }
                });

                return false; // 폼 제출 취소
            }

                // 댓글 삭제
                function deleteComment(commentId) {
                var bookId =  [[${outline.id}]];

                // 확인 메시지 띄우기
                var confirmDelete = confirm('정말로 삭제하시겠습니까?');
    1
                if (confirmDelete) {
                    $.ajax({
                        type: 'DELETE',
                        url: '/api/books/' + bookId + '/comments/' + commentId,
                        success: function (comment) {
                            console.log('댓글 삭제 완료:', comment);
                            flowAlert("success", "댓글이 삭제되었습니다.");

                            // 댓글 목록 업데이트
                            updateCommentList(bookId);

                            // 댓글 개수 업데이트
                            updateCommentCount();
                        },
                        error: function (xhr, status, error) {
                            console.error('댓글 삭제 에러:', xhr, status, error);
                            flowAlert("error", "댓글 삭제 도중 오류가 발생하였습니다.");
                        }
                    });
                }
            }

         // 댓글 수정 폼 열기
        function editComment(commentId) {
        console.log('왜 안되 시발');
        console.log('editComment function called with commentId:', commentId);
            // 해당 댓글의 내용을 가져와서 폼에 세팅
            var commentContent = $("#comment-" + commentId).text();
            var editForm =
                "<div id='comment-div-" + commentId + "' class='flex flex-col w-full p-1'>" +
                "<div class='flex flex-col mb-1'>" +
                "<textarea id='comment-textarea-" + commentId + "' class='w-full mb-2 rounded-lg'>" + commentContent + "</textarea>" +
                "</div>" +
                "<div class='flex justify-between'>" +
                "<button class='btn btn-sm btn-outline' onclick='cancelEdit(" + commentId + ")'>취소</button>" +
                "<button class='btn btn-sm btn-primary' onclick='submitEditComment(" + commentId + ")'>수정 완료</button>" +
                "</div>" +
                "</div>";

            // 해당 댓글의 버튼 숨기기
            $("#comment-" + commentId).next().find('.btn-ghos').hide();

            // 폼 삽입
            $("#comment-" + commentId).after(editForm);
        }

        // 댓글 수정 제출
        function submitEditComment(commentId) {
            var bookId = [[${outline.id}]];
            var editedContent = $("#comment-textarea-" + commentId).val();

            // 수정된 내용이 비어있으면 경고
            if (editedContent.trim() === "") {
                flowAlert("warning", "댓글을 입력해주세요");
                return;
            }

            $.ajax({
                type: 'PUT',
                url: '/api/books/' + bookId + '/comments/' + commentId,
                data: { content: editedContent },
                success: function (comment) {
                    console.log("댓글 수정 완료:", comment);
                    // 수정 폼을 일반 댓글로 변경
                    $("#comment-div-" + commentId).replaceWith("<p id='comment-" + commentId + "'>" + editedContent + "</p>");
                    // 해당 댓글의 버튼 표시
                    var buttonsToShow = $("#comment-" + commentId).next().find('.btn-ghos');
                    buttonsToShow.show();
                },
                error: function (xhr, status, error) {
                    console.error("댓글 수정 실패:", xhr, status, error);
                    flowAlert("error", "댓글 수정 도중 오류가 발생하였습니다.");
                }
            });
        }

        // 취소 시 화면 표시
        function cancelEdit(commentId) {
            // 해당 댓글의 원래 버튼 표시
            var buttonsToShow = $("#comment-" + commentId).next().find('.btn-ghos');
            buttonsToShow.show();

            // 수정 폼 제거
            $("#comment-div-" + commentId).remove();
        }

        // 댓글 count 업데이트
        function updateCommentCount() {
            var bookId = [[${outline.id}]];

            $.ajax({
                type: 'GET',
                url: '/api/books/' + bookId + '/interactions',
                success: function (interactions) {
                    var commentCount = interactions.comments ? interactions.comments.length : 0;
                    $("#getCommentCount").text(commentCount);
                },
                error: function (xhr, status, error) {
                    console.error("댓글 개수 업데이트 실패");
                }
            });
        }
    </script>


    <!--  댓글 좋아요 싫어요  -->
    <script>
         function updatePreference(commentId, isLiked) {
             $.ajax({
                 type: 'POST',
                 url: '/api/comments/' + commentId + '/preferences',
                 data: { isLiked: isLiked },
                 success: function (data) {
                     updateUI(commentId, data);
                     console.log('클릭');
                 },
                 error: function () {
                     console.error('업데이트 실패');
                 }
             });
         }

         function updateUI(commentId, preference) {
             var likeButton = $('#likeButton_' + commentId);
             var dislikeButton = $('#dislikeButton_' + commentId);

             var isLiked = preference.isLiked;

             $('#likesCount_' + commentId).text(preference.likes);
             $('#dislikesCount_' + commentId).text(preference.dislikes);


             if (isLiked) {
                 likeButton.addClass('active');
                 dislikeButton.removeClass('active');
             } else {
                 likeButton.removeClass('active');
                 dislikeButton.addClass('active');
             }
         }

        // 댓글에 대한 좋아요 토글
        function toggleLikeComment(commentId) {
            var isLiked = $('#likeButton_' + commentId).hasClass('active');
            updatePreference(commentId, !isLiked);
            console.log('좋아요 클릭');
        }

        // 댓글에 대한 싫어요 토글
        function toggleDislikeComment(commentId) {
            var isDisliked = $('#dislikeButton_' + commentId).hasClass('active');
            updatePreference(commentId, !isDisliked);
            console.log('싫어요 클릭');
        }
    </script>

</main>
</body>
</html>