<html lang="en" layout:decorate="~{/common/layout.html}">
<head>
    <title>write</title>
</head>
<main layout:fragment="main">

    <h5 class="my-3 border-bottom pb-2">책등록</h5>
    <form th:action="@{/book/create}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" id="title" class="form-control">
        </div>
        <div class="mb-3">
            <label for="file" class="form-label">이미지</label>
            <input type="file" id="file" class="form-control">
        </div>
<!--         챕터 지정 폼 (chapter_form) 이동 버튼-->
<!--        <h5 class="my-3 border-bottom pb-2">책 작성</h5>-->
<!--        <span class="block mb-2">-->
<!--            <a href="/chapter/create" class="btn btn-secondary my-2">챕터 등록</a>-->
<!--        </span>-->

        <input type="submit" value="등록하기" class="btn btn-primary my-2">
    </form>

</main>
</html>