.App {
  text-align: center;
}

/* 모든 요소의 스크롤바를 숨깁니다 */
.invisible-scroll {
  -ms-overflow-style: none;  /* IE와 Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Webkit 기반 브라우저(Chrome, Safari 등)에서 스크롤바를 숨깁니다 */
.invisible-scroll::-webkit-scrollbar {
  display: none;
}


/* viewer의 content container안의 img 태그 설정 */
#carousel-content img {
  margin: 5% auto;
  width: 70%;
}

.quill img {
  margin: 3% auto;
  width: 50%;
}