<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New book review-requested mail</title>
</head>

<body style="font-family: Arial, sans-serif;">
<div style="width: 100%; max-width: 600px; margin: auto; background-color: #f4f4f4; padding: 20px;">
  <h1 style="font-size: 24px;">PAGEFLOW</h1>
  <p style="font-size: 16px;">새로운 책 검수요청이 발생했습니다.
    <br> [[${book.title}]]
    <br> 작가: [[${book.author.nickname}]]
    <br> 아래의 '검수하기' 버튼을 눌러 검수를 완료해주세요.
  </p>

  <!-- 버튼 -->
  <a th:href="|${baseUrl}/admin/review/books/${book.id}|" style="background-color: #00E0D8; color: white; padding: 14px 20px; margin: 15px 0; border: none; cursor: pointer; width: 50%; text-align: center; display: inline-block;">검수하기</a>

  <!-- 실제 링크 -->
  <p style="font-size: 16px;">위 버튼이 작동하지 않거나, 다른 다른 디바이스에서 링크를 여시려면 다음 링크를 사용해주세요. </p>
  <p style="font-size: 16px;">
    <a th:href="|${baseUrl}/admin/review/books/${book.id}|" th:text="|${baseUrl}/admin/review/books/${book.id}|" style="color: blue;"></a>
  </p>
</div>
</body>
</html>