<html lang="en" layout:decorate="~{/book/book_form_layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>상세페이지</title>
</head>
<body>
<main layout:fragment="main">
  <h5 >댓글 수정</h5>
    <form th:object="${commentForm}" method="post">
        <div th:replace="~{/comment/form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea th:field="*{content}" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="저장하기" >
    </form>
</main>
</body>
</html>